{% extends 'base/base.html' %}

{% block title %}Add New Patient{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Patient</a></li>
                            <li class="active">View Patient</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}

    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between">
                            <h4 class="box-title">Patient List</h4>
                            <button style="background-color: #8bc34a; border: none;"><a href="{% url 'patients-report' %}" style="color: black;">CSV</a></button>
                            <form action="{% url 'patients' %}" method="get">
                                <input name="search" class="form-control" type="text" placeholder="Search">
                            </form>
                        </div>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Patient Name</th>
                                        <th>Age</th>
                                        <th>NIC</th>
                                        <th>Phone</th>
                                        <th></th>
                                        
                                    </tr>
                                </thead>
                                    {% if patients %}
                                    {% for p in patients %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ p.name }}</td>
                                        <td>{{ p.age }}</td>
                                        <td>{{ p.NIC }}</td>
                                        <td>{{ p.phone }}</td>
                                        <td>
                                            <a href="{% url 'generate-qr' qr=p.qr%}">QR</a>
                                            <i class="fa fa-pencil mx-2"></i>
                                            <i class="fa fa-trash mx-2"></i>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No patients Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->
        </div>
    </div>
    <!-- /.orders -->
{% endblock content %}