{% extends 'dbase/dbase.html' %}

{% block title %}Dashboard{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner p-2">
        <div class="row m-0 m-auto bg-white">
            <div class="col-sm-4 my-auto">
                <div class="page-header float-left ">
                    <div class="page-title">
                        <h4 class="">Dashboard</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-white m-0">
                            <li class="breadcrumb-item"><a href="{%url 'dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{%url 'doctors' %}">Doctors</a></li>
                            <li class="active breadcrumb-item">View Doctors</li>
                        </ol>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}

<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{ doctors_count }}</span></div>
                            <div class="stat-heading">Doctors</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Widgets -->

    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between">
                            <h4 class="box-title">Doctor List</h4>
                            
                        </div>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Doctor Name</th>
                                        <th>Speciality</th>
                                        <th>Contact No</th>
                                        <th>Email</th>
                                        <!-- <th></th> -->
                                        
                                    </tr>
                                </thead>
                                    {% if doctors %}
                                    {% for p in doctors %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ p.name }}</td>
                                        <td>{{ p.speciality }}</td>
                                        <td>{{ p.phone }}</td>
                                        <td>{{ p.email }}</td>
                                        
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No Doctor Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->
        </div>
    </div>
    <!-- /.orders -->
{% endblock content %}