{% extends 'base/abase.html' %}

{% block title %}Dashboard{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Appoinment</a></li>
                            <li class="active">View Appoinment</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}

<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{ appoinment_count }}</span></div>
                            <div class="stat-heading">Appoinment</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Widgets -->

    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between">
                            <h4 class="box-title">Appoinment List</h4>
                            <!-- <button style="background-color: #8bc34a; border: none;"><a href="#" style="color: black;">CSV</a></button>
                            <form action="{% url 'appoinment' %}" method="get">
                                <input name="search" class="form-control" type="text" placeholder="Search">
                            </form> -->
                        </div>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Doctor Name</th>
                                        <th>Patient Name</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <!-- <th></th> -->
                                        
                                    </tr>
                                </thead>
                                    {% if appoinment %}
                                    {% for a in appoinment %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ a.Docator_Name }}</td>
                                        <td>{{ a.Patients_Name }}</td>
                                        <td>{{ a.Date }}</td>
                                        <td>{{ a.Time }}</td>
                                        <!-- <td>
                                            <a href="#">QR</a>
                                            <i class="fa fa-pencil mx-2"></i>
                                            <i class="fa fa-trash mx-2"></i>
                                        </td> -->
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No Appoinment Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->
        </div>
    </div>
    <!-- /.orders -->
{% endblock content %}