
{% include 'abase/abase2.html' %}

{% include 'mainnav2.html' %}
{% load static %}



{% block content %}

<html lang="en">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-light-grey w3-padding-60 w3-margin-bottom w3-center">
 <div class="p-3 mb-2 bg-primary text-white" style="  text-align:center ;width: 300px;height:400px;
  padding: 50px;
  border: 2px solid black;
  margin: 0px; color: white"><br><br><br><h1>WELCOME <br> TO <br> ADMIN <br> PORTAL</h1></div>
<div style="position: absolute; top: 55%; left: 50%;transform: translate(-50%, -50%)">
  <button style=" background-color:#0047AB;
  border: none;
  color: white;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer;border-radius: 50%;" ><img src ="{%static 'images/istockphoto-1189304032-612x612.jpg' %}" width="70px" height="70px"><a style=" color:white;" href=""><br>Doctor</button></a>
  &nbsp;&nbsp;&nbsp;<button style=" background-color:#0047AB;
  border: none;
  color: white;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;border-radius: 50%;" ><img src ="{%static 'images/images (2).jpg' %}" width="70px" height="70px"><a style=" color:white;" href="{%url 'patients' %}"><br>Patient</button>
   <button style=" background-color: #0047AB;
  border: none;
  color: white;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 3px;
  cursor: pointer;border-radius: 50%;" ><img src ="{%static 'images/download.jpg' %}" width="70px" height="70px"><a style=" color:white;" href="{%url 'dashboard' %}"><br>Appointment</button>
    <button style=" background-color: #0047AB; 
  border: none;
  color: white;
  padding: 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;border-radius: 50%;" ><img src ="{%static 'images/3.jpeg' %}" width="70px" height="70px"><a style=" color:white;" href="{%url 'medicineList' %}"><br>Inventory</button>

  </div>

    
 
</div>
<br>
{% include 'footer.html' %}
</body>
</html>

    
        
   
{% endblock content %}

