
<nav class=" navbar bg-primary border border-10  ">
   
    <div >
     <h1> <dl style="none" class="navbar bg-primary justify-content-center ml-auto ml-20 ">
        <dt class="nav-item ">
          <a style="color-red" class="nav-link link-drak active text-white "  aria-current="page" href="{%url 'home' %}" >HOME</a></h>
        </dt>
        <dt class="nav-item">
          <a class="nav-link text-white" href="{%url 'contact' %}">CONTACT</a>
        </dt>
        <dt class="nav-item">
          <a class="nav-link text-white" href="{%url 'about' %}">ABOUT</a>
        </dt>
        <dt class="nav-item">
          <a class="nav-link text-white " href="{%url 'loginsign' %}">LOGIN</a>
        </dt>
      </dl>  
    </div>
  </div>
</nav>