{% load static %}
    <!-- Example Code -->
    
    <nav class="navbar navbar-expand-lg py-5" style="background-color: #e3f2fd;  margin-top: 25px; width: 100%;" >
      <div class="container-fluid">
        <a class="navbar-brand" style="font-family: 'Courier New', Courier, monospace;font-size: 35px; color: Navy;" href="/home"><img style="height: 50px; width: 50px;" src="{%static 'images/health.png' %}"/>Cardio</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent" style="padding-left: 130px;">
            <div class="footer-pad">
        
                <h4 style="color:black">No: 34, maha widiya , Colombo 5.</h4>
                <ul class="list-unstyled">
                  <li><a href="#"><u>Home</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">About</a></li></u>
                </ul>
              </div>
            </div>
          
          
        
            <div class="vstack gap-3" style="padding-top: 20px; ">
              <div class="flex">
                <a href="#" class="icoFacebook "  title="Facebook"><img style="height: 50px; width: 50px;" src="{%static 'images/facebook.png' %}" alt=" footer image"/></a>
                <a href="#" class="icoInstagram" title="instagram"><img style="height: 50px; width: 50px;" src="{%static 'images/instagram.png' %}" alt=" footer image"/></a>
                <a href="#" class="icoTwitter" title="twitter"><img style="height: 50px; width: 50px;" src="{%static 'images/twitter.png' %}" alt=" footer image"/></a>
                <a href="#" class="icoYoutube" title="youtube"><img style="height: 50px; width: 50px;" src="{%static 'images/youtube.png' %}" alt=" footer image"/></a>
            </div>	
          </div>	
        </div>
        	
		</div>
          
        </div>
      </div>
    </nav>
    
    
    <!-- End Example Code -->
  