{% extends 'ibase/ibase.html' %}
<!-- load all static files -->
{% load static %}
<!-- renders the crispy form -->
{% load crispy_forms_tags %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="/home">Inventory</a></li>
                            <li class="active">Insert Product</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
</head>
<body>
    
    <div  >
        

    <h1 class="display-3 text-left">{{title}}</h1>
	
    <div class="row" >
    <div class="col-sm-5" style="font-weight: bolder ; text-align: left;">
                    <!--Start of col-->
                    <div class="display_table" style=" border: 2px solid rgb(0, 211, 253); background-color: floralwhite;width: 920px;">
                        
                        <form style="margin: 10px; width: 900px;" method='POST' action=''>{% csrf_token %}
                            <!-- security code -->

                            <!-- Rendering the form -->
                            {{form|crispy}}
                            <div style="padding-left: 250px;" >
                            <Button class="btn btn-primary" s
                                type="submit" style="width: 400px;"  > Submit </Button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            

    </div>
    
</body>
</html>
{% endblock content %}