<!-- load all static files -->
{% extends 'ibase/ibase.html' %}
{% load static %}
<!-- renders the crispy form -->
{% load crispy_forms_tags %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="/home">Inventory</a></li>
                            <li class="active">View Inventory</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Item List</title>

    <link href="{% static 'css/stylesheets.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>

 
<body>
  
  {% if messages %}
  <center>
  <div class="toast fade show" style="width:400px;height:120px"role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      
      <strong class="me-auto">Inventory Notification</strong>
      
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    {% for message in messages %}
    <div class="toast-body text-center">
      <div class="alert alert-success" role="alert">{{ message }}</div>
    
               {% endfor %}
    </div>
  </div>
</center>
  {% endif %}  

    
        <div class="hstack gap-3" style="padding-left: 200px; margin-bottom: 15px;">
            <figure class="text-center" >
                <blockquote class="blockquote">
                  <p class="display-4" style="margin-top:7px">{{title}}</p>
                  
                </blockquote>
                
              </figure>
              
            <a class="btn btn-primary ms-auto" href="{%url 'generate_report'%}">CSV</a></button>
            <div class="vr"></div>
            <button type="button" class="btn btn-primary active" data-bs-toggle="button" aria-pressed="true">Scan Barcode</button>
            <form method="post" action='' class="d-flex" style="padding-bottom: 14px ;"> {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-outline-success" type="submit" style="margin-left: 5px; height: 50px; width: auto; margin-top: 25px;">
              </form> 
            </div>
        
     
    <table class="table table-hover table-bordered" >
        <thead class="table-light">
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Medicine Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Net Price</th>
            <th scope="col">Receive Quantity</th>
            <th scope="col">Vendor</th>
            <th scope="col">Reorder Level</th>
            <th scope="col">Initial Inserted</th>
            <th scope="col">last Updated</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
            {% for instance in queryset %}
          <tr >
            <th scope="row">{{instance.Product_ID}}</th>
            <td >{{instance.Medicine_name}}</td>
            {% if instance.quantity <= instance.reorder_level %} <td
            class="table-warning">
                {{instance.quantity}}
          </td>
{% else %} <td>{{instance.quantity}}
{% endif %}</td>
            <td>{{instance.Net_price}}</td>
            <td>{{instance.receive_quantity}}</td>
            <td>{{instance.Vendor}}</td>
            <td>{{instance.reorder_level}}</td>
            <td>{{instance.initial_inserted}}</td>
            <td>{{instance.last_updated}}</td>
            <td><a href="{% url 'updateMedicine' instance.id %}"><img style="height: 30px; width: 30px;" src="{%static 'images/edit.gif' %}"></a>
            <td><a href="{% url 'deleteMedicine' instance.id %}"><img style="height: 30px; width: 30px;" src="{%static 'images/delete.gif' %}"></a>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
	
      
</body>
</html>
{% endblock content %}